<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metadatax</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static "home/style.css" %}"/>
</head>
<body>
<img id="background" alt="Black and white whale underwater" src="{% static "home/background.jpg" %}"/>

<div id="head">

    <h1>Metadatax <small>Demo version</small></h1>

    <a href="/map/">Map</a>

    <a href="/admin/">
        {% if isConnected %}
            Access administration
        {% else %}
            Login
        {% endif %}
    </a>

</div>

<div id="content">
    <img id="video" alt="Black and white whale underwater" src="{% static "home/background.jpg" %}"/>

    <form id="register-form" method="post" action="/auth/user/register/">
        {% csrf_token %}

        <h2>Try Metadatax now!</h2>

        {% if isConnected %}
            <a href="/admin/">
                Access administration
            </a>
        {% else %}
            {{ register_form.as_p }}

            <button type="submit">Register</button>
        {% endif %}

    </form>
</div>

<div id="footer">
    <p>Proposed by <a href="https://osmose.ifremer.fr/">OSmOSE</a>, <a href="https://www.shom.fr/">SHOM</a> and <a
            href="https://chorusacoustics.com/">CHORUS</a></p>
</div>

</body>
</html>