<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Metadatax</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css' %}"/>
</head>
<body>
<img id="background" alt="Black and white whale underwater" src="{% static 'home/background.jpg' %}"/>

<div id="head">

    <h1>Metadatax <small>Demo version</small></h1>

    <a href="/map/">Map</a>

    <a href="/admin/">
        {% if isConnected %}
            Access administration
        {% else %}
            Login
        {% endif %}
    </a>

</div>

<div id="content">
    <div id="ppt">
        <iframe width="350" height="200"
                src="{% static 'home\\workshop serenade 2024.pdf' %}"
                title="PowerPoint workshop Serenade"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <a href="{% static 'home\\workshop serenade 2024.pdf' %}" target="_blank">Open presentation in a new tab</a>
    </div>

    <form id="register-form" name="register-form" method="post" action="/auth/user/register/">
        {% csrf_token %}

        <h2>Try Metadatax now!</h2>

        {% if isConnected %}
            <a href="/admin/">
                Access administration
            </a>
        {% else %}
            {{ register_form.as_p }}

            <button type="submit">Register</button>
        {% endif %}

    </form>

    <iframe id="video"
            width="350" height="196"
            src="https://www.youtube.com/embed/01ePb8YitZc?si=3Ywi3iSG7OM6oz18"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>

<div id="footer">
    <p>Proposed by <a href="https://osmose.ifremer.fr/">OSmOSE</a>, <a href="https://www.shom.fr/">SHOM</a> and <a
            href="https://chorusacoustics.com/">CHORUS</a></p>

    <a href="mailto:OSmOSE<elodie.morin@ensta-bretagne.fr>;SHOM<timothee.maison@shom.fr>;Chorus<clement.graffard@chorusacoustics.com>?subject=[METADATAX]">Contact
        by mail</a>
</div>

</body>
</html>